@import "colors";

body {
  background: var(--bg);
  color: var(--fg);
  font-family: IBM Plex Sans Condensed;
  margin: 2em auto;
  width: 80%;
  font-size: 1.2em;
  #content {
    img {
      width: 10%;
      height: 10%;
    }
  }
}

a {
  color: inherit;
}

::selection , ::-moz-selection{
  background: var(--fg);
  color: var(--bg);
}

h1, h2, h3, h4, h5, h6 {
  font-family: Raleway;
}

h1 {
  font-weight: bold;
}

hr {
  color: var(--sep);
}
