@use 'colors';

nav {
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: Raleway;
    padding-left: 0;

    li {
      font-weight: bold;

      &:first-child {
        flex-grow: 1;
        a {
          text-decoration: none;
        }
      }

      &:not(:first-child) {
        a {
          margin-left: 1em;
          padding: 0.5em;
          transition: background-color 0.2s ease-in;
          border-radius: var(--border-radius);
          cursor: pointer;
          &:hover {
            background: var(--hover-bg);
          }
        }
      }

      a {
        color: inherit;
      }
    }
  }
}