@import 'header';
@import 'colors';

body {
  background: var(--bg);
  color: var(--fg);
  font-family: IBM Plex Sans Condensed;
  margin: 2em auto;
  width: 80%;
  font-size: 1.2em;
}

a {
  text-decoration: none;
}